

.containerMain{
  padding: 30px;
  background-color: white;
}
.header1{
  text-align:center;
  font-size:25px;
}
.ipContainer{
  border:1px solid LightGray ;
  border-radius:5px;
  padding: 10px 20px 15px;
  margin:20px 20px 30px;
}
.ipContIn{
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
.ipIcon{
  color:white;
  background-color: LightSeaGreen  ;
  width: 27px;
  height: 32px;
  padding: 1px;
  margin-top: -10px;
}
.ip{
  width:100%;
  border: 1px solid LightGray;
  border-radius:5px;
  padding: 10px;
  margin-bottom: 10px;
}
.addBtn{
  background-color:LightSeaGreen ;
  width: 100%;
  border:none ;
  border-radius:5px;
  color: white;
  padding:10px;
}





.header2{
  margin-top: 50px;
  text-align:center;
  font-size:25px;
}
.list{
  margin:5px 30px;
}
.todo {
  align-items: center;
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  border: 1px solid LightGray;
  border-radius: 5px;
  padding: 5px 10px;
}
.regCheckSqIcon{
  color: green;
  width: 20px;
  height: 20px;
}
.regSqIcon{
  color: grey;
  width: 20px;
  height: 20px;
}
.editIcon{
  color:orange;
  width: 20px;
  height: 20px;
  margin: 0px 3px;
}
.deleteIcon{
  color:red;
  width: 20px;
  height: 20px;
}
.btnContainer{
  display: flex;
  margin: 30px;
  justify-content: space-between;
}
.btn{
  width: 47%;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
